<h1>Contact</h1>

<p>
  <ul>

    <li><strong>ID: </strong><%= @contacts.id %></li>
    <li><strong>First Name: </strong><%= @contacts.first_name %></li>
    <li><strong>Last Name: </strong><%= @contacts.last_name %></li>
    <li><strong>Email: </strong><%= @contacts.email %></li>
    <li><strong>Note: </strong><%= @contacts.note %></li>

  </ul>

  <div class="return" style = "height: 50%;margin:40px 0 80px 0;">
    <p><a href="/contacts">Back to contact list</a></p>
    <br>
  </div>
</p>
