<h1>Contact</h1>

<p>
  <ul>

    <li><strong>ID: </strong><%= @contacts.id %></li>
    <li><strong>First Name: </strong><%= @contacts.first_name %></li>
    <li><strong>Last Name: </strong><%= @contacts.last_name %></li>
    <li><strong>Email: </strong><%= @contacts.email %></li>
    <li><strong>Note: </strong><%= @contacts.note %></li>

  </ul>
</p>
