<div class="contact">

  <h1 class="contact_header">Contact</h1>

  <p>
    <ul class="contact_list">

      <li class="contact_id"><strong>ID: </strong><%= @contacts.id %></li>
      <li class="contact_detail"><strong>First Name: </strong><%= @contacts.first_name %></li>
      <li class="contact_detail"><strong>Last Name: </strong><%= @contacts.last_name %></li>
      <li class="contact_detail"><strong>Email: </strong><%= @contacts.email %></li>
      <li class="contact_detail"><strong>Note: </strong><%= @contacts.note %></li>
      <li class="contact_action"><a href="#">Edit</a> | <a href="#">Delete</a></li>

    </ul>

    <div class="return">
      <p><a href="/contacts">Back to contact list</a></p>
      <br>
    </div>
  </p>

</div>
